version: '3.7'

services:
  db:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: batatinha
      MONGO_INITDB_ROOT_PASSWORD: batatinha
    ports:
      - 27017:27017
